[submodule "skupper-router"]
	path = skupper-router
	url = https://github.com/skupperproject/skupper-router.git
[submodule "libunwind"]
	path = libunwind
	url = https://github.com/libunwind/libunwind.git
[submodule "libwebsockets"]
	path = libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "qpid-proton"]
	path = qpid-proton
	url = https://github.com/apache/qpid-proton.git
